:root {
 --font-family: 'Kanit', sans-serif;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    line-height: 1.5;
    font-size: 20px;
}

.o-container {
    font-size: 30px;
}

.o-image__body {
    max-width: 30%;
}

.o-image__footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 40px;
}

.o-image__social {
    height: 50px;
}

.o-image__404 {
    max-width: 50%;
}

.c-card {
    min-height: 54vh;
}

.c-card__body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;
}

.c-card__404 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.o-container__404 {
    font-size: 60px;
}

.c-card__block__404 {
    font-size: 30px;
}

.c-card__block {
    margin-top: 50px;
}

.c-card__block__404>h1 {
    font-size: 100px;
    color: brown;
}

.c-card__body__about {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.c-button {
    margin-bottom: 20px;
}

